.ant-layout{
  background: #ecebeb;
}
.ant-layout-header{
  background: #ffffff00;
  background-color: rgba(255, 255, 255, 0);
}

.client-container {
  max-width: 1920px;
  min-width: 1024px;
  margin: 0 auto;
  height: auto;
}

.client-header{
  position: relative;
}

.client-header__img {
  height: 200px;
  background-size: 100%;
  margin-bottom: 60px;
  
}

.client-headerTitle {
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin: 0 auto;
  background-size: contain;
}

ul.client-headerTitle-ul {
  display: inline-block;
  position: relative;
  top: -15px;
}

ul.client-headerTitle-ul li {
  height: 34px;
  font-size: 20px;
  color: #fff;
  text-align: left;    height: 41px;
  font-size: 25px;
  text-align: left;
  font-family: cursive;
}

.client-headerLogo{
  background: url('./img/LOGO.png');
  width: 118px;
  height: 118px;
  background-size: 100%;
  display: inline-block;
  margin-right: 9px;
}
  

ul.client-headerTitle-ul {
  display: inline-block;
}

.client-headerTitle {
  position: relative;
  height: 315px;
  display: flex;
  background: url('./img/header.png') no-repeat center;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 15%;
  position: relative;
  align-items: center;
  margin: 0 auto;
  background-size: contain;
}

.client-headerTitle .ant-row{
  background: #ffffff00;
}


ul.client-headerTitle-ul {
  display: inline-block;
  position: relative;
  top: -15px;
}

ul.client-headerTitle-ul li {
  height: 41px;
  font-size: 25px;
  text-align: left;
  font-family: cursive;
  border-bottom: 2px solid #6c7b4c;
  height: 51px;
  line-height: 64px;
}

li.client-headerTitle-list.ch-list1 {
  margin-left: -1px;
}
.client-headerTitle-list.ch-list2 {
  margin-left: 32px;
}
li.client-headerTitle-list.ch-list3 {
  margin-left: 78px;
}

.client-headerLogo{
  background: url('./img/LOGO.png');
  width: 118px;
  height: 118px;
  background-size: 100%;
  display: inline-block;
  margin-right: 9px;
}

.rightcon {
  width: 13%;
  position: absolute;
  bottom: 99px;
  right: 84px;
  height: 26px;
}

.rightcon li{
  display: inline-block;
  width: 50%;
  height: 26px;
  background-size: contain;
  text-align: center;
  line-height: 31px;

}

.rightcon li a{
  color:#535353;
}

.rightcon .rightcon-li1{
  background-image: url('./img/indexList(1).png');
  
}

.rightcon .rightcon-li2{
  background-image: url('./img/indexList(2).png');
}

ul.client-headerTitle-ul {
  display: inline-block;
}

.client-header.ant-row {
  display: flex;
  justify-content: center;
}

.menu .ant-menu{
  margin: 5px 0;
  background-image:url('./img/nav_03.png');
  background-size: contain;

}
.ant-menu-submenu-title a {
  color: #dee6e5;
}
.ant-menu-horizontal > .ant-menu-item > a {
  display: block;
  color: rgb(208, 222, 216);
}

.client-footer {
  height: 180px;
  background: #535353;
  color: #fff;
  position: relative;
  margin-top: 22px;
}


.footerLink ul {
  padding: 0 86px;
  text-align: center;
}

.client-footer a {
  color: #fff;
  color: #fff;
  position: relative;
  margin-top: 22px;
}


.footerLink ul {
  padding: 0 86px;
  text-align: center;
}

.client-footer a {
  color: #fff;
  font-size: 15px;
}

li.footerLink-list {
  display: inline-block;
  width: 16%;
  text-align: center;
}

.footerName {
  text-align: center;
  display: flex;
  align-items: flex-start;
  margin: 14px 0;
  display: flex;
  align-items: center;
  margin: 14px auto;
  width: 90%;
  justify-content: center;
}

.footerName li {
  display: inline-block;
}

.footerName .footerName-li{
  width: 28%;
}


.footerName .footerName-logo{
  background: url('./img/LOGO.png');
  width: 85px;
  height: 85px;
  background-size: 100%;
}

p.footerName-liChinese {
  font-size: 22px;
    margin: 0;
    font-family: 华文行楷;
}

p.footerName-liEinglish {
  font-size: 11px;
}

.ant-layout-header {
  padding: 0;
  background-color: white;
  height: auto;
  line-height: auto;
}

.footerInform{
  position: absolute;
  right: 0;
  text-align: center;
  left: 0;
  bottom: 6px;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

li.footerInform-li {
  display: inline-block;
  margin: 5px 13px;
}
li.ant-menu-item {
  padding: 14px 20px 0px 20px;
  color: #dfe6e5;
  
}
.ant-menu-submenu-title{
  padding: 14px 20px 0px 20px;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover {
  border-bottom-color: transparent;
}

@media (min-width: 768px) {
  .client-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .client-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .client-container {
    width: 1170px;
  }
}