.user-detail__container {
  display: flex;
  justify-content: flex-start;
}

.user-detail__hearder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 150px;
}

.user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%
}

.user-details {
  padding-left: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}