.list-showConentImg{
   
    display: block;
    height: inherit;
}
.list-show{
    height: 28%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative;
    margin: 25px 0;
    color: black;
     box-shadow: 0px 1px 0px 0px #d6c7c7;
    border-left: solid 14px #f19149;
}

span.list-showConent {
    height: 88%;
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.nwes-more {
    display: block;
    font-size: 17px;
    font-weight: bold;
}
ul.showPlat-ul {
    height: 420px;
    padding: 0 12px;
}