.news-table__header {
    border-radius: 18px 18px 0 0;
    background-color: #5f860a;
    height: 27px;
}
.news-table__body{
    background: #f0f6f2;
    padding: 0 10px;
}

.table-title {
        padding: 0 20px;
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        background-color: #9acd32;
        width: 100px;
        color: #fff;
        border-radius: 18px 0 0 0;
        font-size: 14px;
        line-height: 28px;
        font-weight: bold;
        -ms-flex-pack: center;
        justify-content: center;
}

.table-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.list-icon {
    flex: 0 0 30px;
    text-align: center;
}

.list-title {
    flex: 0 0 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-more {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #ba2727;
}
ul.table-list{
    background: #f0f6f2;
}
ul.table-list li {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #000 1px;
}
ul.table-list .news-top{
    height:88px;
    position: relative;
    justify-content: flex-start;
}
ul.table-list li span.list-top-title {
    flex: 0 0 340px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px; 
    justify-content: flex-start;
    padding-left:8px;
}
ul.table-list .news-top.news-more{
    position: absolute;
    bottom: 13px;
    right: 0px;
}