li.linkList-li {
    display: inline-block;
    width: 16.666%;
    text-align: center;
}

.linkList-header li {
    display: inline-block;
    border-top: solid 2px #528647;
    width: 10%;
    text-align: center;
}
.linkList-header .linkButton{
    display: inline-block;
    border-top: solid 2px #528647;
    text-align: center;
    height: 30px;
    background: #4ba937;
    color: #fff;
    line-height: 30px;
    font-weight: bold;
}

ul.linkList-ul {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

li.linkList-li img {
    width: 100%;
}

li.linkLine {
    width: 80%;
    border-top: solid 4px #528647;
    position: relative;
    top: -5px;
}

li.linkList-li img {
    width: 75%;
}