.imgSlid{
    background: #fff;
    height: 190px;
    position: relative;
}
.imgListBox{
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
    padding: 5px 0;
    width: 97%;
    padding-left: 25px;

}
li.ImgSlid-li {
    display: inline-block;
    width: 245px;
    margin-left: 27px;
}
.slideButton {
    background: #655d5d;
    height: 100%;
    display: inline-block;
    position: absolute;
    width: 3%;
    line-height: 190px;
    text-align: center;
}
li.ImgSlid-li img {
    height: 180px;
    width: 245px;
}