.imgSlid {
    height: 190px;
    position: relative;
    padding: 0px 25px;
}

.imgSlid .slick-slide {
    text-align: center;
    height: 190px;
    line-height: 190px;
    overflow: hidden;
}

li.ImgSlid-li {
    display: inline-block;
    width: 245px;
    padding: 0 5px;
}

li.ImgSlid-li img {
    height: 190px;
    width: 100%;
}

.imgSlid .slick-prev,
.imgSlid .slick-next {
    width: 25px;
    height: 100%;
    background: rgba(0,0,0,0.7)
}