.dangjian{
        border-top: 25px solid #eee;
        border-bottom: 25px solid #eee;
        margin: 13px 0;
        padding: 9px 0;
        border-radius: 0px 0px 20px 20px;
}

.dangjian img {
    width: 100%;
}